@font-face {
  font-family: 'flexslider-icon';
  src: url(/fonts/flexslider-icon.eot?9c9cb7a6055043933ba68854f521af45);
  src: url(/fonts/flexslider-icon.eot?9c9cb7a6055043933ba68854f521af45) format("embedded-opentype"), url(/fonts/flexslider-icon.woff?f8b92f66539473eea649c8514eb836a0) format("woff"), url(/fonts/flexslider-icon.ttf?b4c9e5057989b9727a5df4e0a21af33c) format("truetype"), url(/fonts/flexslider-icon.svg?10e8a5455c4522c48aa975eacd4f0023) format("svg");
  font-weight: normal;
  font-style: normal;
}

